.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: palegoldenrod;
}
#row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: palegoldenrod;
}


.Component{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: auto;
  background-color: lightgray;
  border-style: solid;

}
.buttonWrapper{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.customBtn {
  /* Put something here to make them look nicer, affects all buttons */
 }