.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: palegoldenrod;
}
#row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: palegoldenrod;
}

.Component{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: auto;
  background-color: lightgray;
  border-style: solid;
  border-color: red;
}

.buttonWrapper{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.customBtn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.5rem;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
 .customBtn:hover{
  color: #000;
  background: rgb(255, 218, 87);
}
.clearList{
  list-style-type: none;
}

#primaryVPHolder{
  display: flex;
  flex-direction: row;
  background-color: orange;
  
}
.VPDiv{
display: flex;
flex-direction: column;
justify-content: center;
background-color: red;
border-style: solid;
border-color: white;
}
