.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: palegoldenrod;
}
#row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: palegoldenrod;
}


.Component{
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: auto;
  background-color: lightgray;
  border-style: solid;

}
.buttonWrapper{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#Header{
  display: flex;
  flex-direction: row;
  
}
#HeaderLeft{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.customBtn {

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.5rem;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

  
 }
 .customBtn:hover{
  color: #000;
  background: rgb(255, 218, 87);
}

.clearList{
  list-style-type: none;
}

#primaryVP{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#primaryHolder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  background-color: palegoldenrod;
}